<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume - Wieslaw Gorniewski</title>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
        <link href='lib/normalize.css' rel='stylesheet' type='text/css'>
        <link href='lib/perfect-scrollbar.css' rel='stylesheet' type='text/css'>
        <link href='lib/cv.css' rel='stylesheet' type='text/css'>
    </head>
    <body ng-app="resume">
        <div id="containerContent" ng-controller="ResumeController">
            <div class="background {{ element.background }}" ng-class="{visible: (selectedScreen.background == element.background)}" ng-repeat="element in sharedData.menu"></div>
            <div id="title">
                <h1 class="mainTitle">
                    {{ resumeData.personal_data.submenus.personal_data.name | uppercase }} {{ resumeData.personal_data.submenus.personal_data.surname | uppercase }}
                </h1>
                <h2>
                    {{ resumeData.personal_data.submenus.personal_data.title }}
                </h2>
            </div>
            <div id="containerContentText">
                <div id="menu">
                    <ul>
                        <li ng-class="{over: (hover || element.selected)}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="selectScreen(element)" ng-repeat="element in sharedData.menu track by $index">
                            {{ element.name }}
                        </li>
                    </ul>
                </div>

                <div id="contentMain">

                    <div class="content" id="titlePage">
                        <h1> {{ selectedScreen.name }}</h1>
                    </div>


                    <div class="content" ng-if="selectedScreen.id == 'personal_info'" ng-repeat="(key, value) in resumeData.personal_info.submenus">
                        <h2>
                            {{ key | regexReplace: "_":" " | uppercase }}
                        </h2>
                        <ul>
                            <li ng-repeat="(elementKey, elementValue) in value">
                                <span class="entryName">{{ elementKey | regexReplace: "_":" " }}:</span> {{ elementValue }}
                            </li>
                        </ul>
                    </div>

                    <div class="content" ng-if="selectedScreen.id == 'experience'" ng-repeat="(key, value) in resumeData.experience.submenus">
                        <h2>
                            {{ key | regexReplace: "_":" " | uppercase }}
                        </h2>
                        <div ng-repeat="(entryKey, entryValue) in value">
                            <span class="date">
                                {{ entryValue.entry.date_start }} - {{ entryValue.entry.date_end }}
                            </span>
                            <span class="name">
                                {{ entryValue.entry.title }} <a class="at" ng-if="entryValue.entry.name">@</a> {{ entryValue.entry.name }}
                            </span>
                            <ul>
                                <li class="description" ng-repeat="entry in entryValue.entry.description">
                                    {{ entry }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="content" ng-if="selectedScreen.id == 'skills'" ng-repeat="(key, value) in resumeData.skills.submenus">
                        <h2>
                            {{ key | regexReplace: "_":" " | uppercase }}
                        </h2>
                        <ul>
                            <li class="circle" ng-repeat="entry in value track by $index">
                                <span id="{{ key + $index }}" data-level="{{ entry.entry.level }}" data-name="{{ entry.entry.name }}" skill-create=""></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/circles.min.js"></script>
    <script src="lib/perfect-scrollbar.min.js"></script>
    <script src="lib/data.js"></script>
    <script src="lib/cv.js"></script>
    </body>
</html>
