::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

html {
	height: 100%;
	min-height: 100%;
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	min-height: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
	background: #fff;
	size: 16px;
	font-weight: 400;
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

a:link {
	color: #fff;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #fff;
}

a:active {
	color: #fff;
}

h1 {
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

h2 {
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h3 {
	font-weight: 400;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

#containerContent {
	display: block;
	height: 100%;
	color: #fff;
}

#containerContentText {
	height: 100%;
	position: relative;
	z-index: 1;
}

#title {
	font-size: 0.7em;
	text-align: right;
	position: absolute;
	display: block;
	margin: 0;
	opacity: 0.5;
    filter: alpha(opacity=50);
    bottom: 3%;
    right: 3%;
}

#title h2 {
	margin: 0;
}

#titlePage {
	margin: 1em 0 1em 0;
	display: block;
	letter-spacing: 0.25em;
}

#menu {
	float: left;
	height: 100%;
	width: 25%;
	margin: 0;
	margin-top: 200px;
}

#menu ul {
	position: relative;
}

#menu ul li {
	text-align: right;
	font-weight: 200;
	font-size: 1.5em;
	line-height: 2em;
	margin: 0 1em 0 0;
	cursor: pointer;
	opacity: 0.5;
    filter: alpha(opacity=50);
    transition: 0.2s linear all;
}

#menu ul li.over {
	opacity: 1;
    filter: alpha(opacity=100);
    transition: 0.2s linear all;
}

#menu ul li span.beam {
	width: 0;
	height: 1.2em;
	background: black;
	display: block;
	margin: 0.4em 0 0 0;
	right: 10px;
	position: absolute;
	opacity: 0.1;
    filter: alpha(opacity=10);
}

#menu ul li span.beam.over {
	width: 1000px;
}

#menu ul li span.beamBorder {
	right: 0;
	position: absolute;
	display: block;
	width: 5px;
	height: 1.2em;
	margin: 0.4em 0 0 0;
	opacity: 0;
    filter: alpha(opacity=0);
    transition: 0.2s linear all;
}

#menu ul li span.beamBorder.over {
	opacity: 0.85;
    filter: alpha(opacity=85);
    transition: 0.2s linear all;
}

#contentMain {
	position: absolute;
	display: block;
	float: left;
	left: 25%;
	height: 90%;
	width: 50%;
	max-width: 900px;
	padding-right: 100px;
	margin-top: 1em;
}

.shadow {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
    filter: alpha(opacity=0);
    transition: 0.2s linear all;
}

.background.visible {
	opacity: 1.0;
    filter: alpha(opacity=100);
    transition: 0.2s linear all;
}

.content {
	font-size: 1.3em;
	padding: 0 10% 0 5%;
	float: left;
	width: 100%;
}

.content h2 {
	font-size: 1.2em;
	margin: 1em 0 1em 0;
	letter-spacing: 0.12em;
	opacity: 0.7;
    filter: alpha(opacity=70);
}

.content ul {
	margin: 0;
	padding: 0 0 0 1em;
}

.entryName {
	display: inline-block;
	min-width: 10em;
  font-weight: lighter;
}

.skillCircle {
	float: left;
}

.skillPoint {
	border-radius: 50%;
	width: 0.7em;
	height: 0.7em;
	display: block;
	margin: 0.3em 0.1em 0 0.1em;
	float: left;
	line-height: 1.3em;
}

.skillPoint.on {
	opacity: 1;
    filter: alpha(opacity=100);
}

.skillPoint.off {
	opacity: 0.15;
    filter: alpha(opacity=15);
}

.description {
	font-weight: 300;
	list-style: circle;
	margin-left: 1.5em;
}

span.date {
	font-size: 1.0em;
	font-weight: 400;
	margin: 0.75em 0 0 0;
	display: block;
	opacity: 0.7;
    filter: alpha(opacity=70);
}

span.name {
	font-size: 1.2em;
	font-weight: 500;
	margin: 0.25em 0 0.75em 0.3em;
	display: block;
	color: #fff;
}

span.name a.at {
	opacity: 0.3;
    filter: alpha(opacity=30);
}


.skillText {
	margin: 0 0 0 4em;
	width: 150px !important;
	text-align: left !important;
}

li.circle {
	float: left;
	width: 20%;
	margin: 0.25em 0;
}

@media (max-width: 1800px) {
	li.circle {
		width: 25%;
	}
}

@media (max-width: 1500px) {
	li.circle {
		width: 33%;
	}

	#contentMain {
		height: 85%;
	}
}


@media (max-width: 1200px) {
	li.circle {
		width: 50%;
	}
}

@media (max-width: 900px) {
	#menu {
		display: block;
		height: 100%;
		margin: 0 0 0 2em;
		width: 100%;
		height: auto;
		clear: both;
		text-align: left;
	}

	#menu ul li {
		text-align: left;
	}

	#titlePage {
		margin: 1em 0 1em 0;
	}

	#contentMain {
		position: relative;
		margin: 0 2em 0 2em;
		left: 0;
		width: auto;
		padding-right: 1em;
		height: 65%;
	}

	.content {
		padding: 0;
	}

	li.circle {
		width: 33%;
	}
}

.bgWhite {
	background: #fff !important;
}

.bgGrayLight {
	background: #f9f9f9 !important;
}

.bgBlue {
	background: #1a62f2 !important;
}

.bgCream {
	background: #fffdfc !important;
}

.bgRed {
	background: #d62f2f !important;
}

.bgGreen {
	background: #26d32e !important;
}

.bgPurple {
	background: #8a20e8 !important;
}

.bgOrange {
	background: #f25000 !important;
}

.fgWhite {
	color: #fff !important;
}

.fgGray {
	color: #3D3D3D !important;
}

.fgGrayLight {
	color: #828282 !important;
}

.fgBlack {
	color: #000 !important;
}

.fgBlue {
	color: #028299 !important;
}

.fgRed {
	color: #A81D08 !important;
}

.bdWhite {
	border-color: #fff !important;
}

.bdBlue {
	border-color: #0786A7 !important;
}

.bdGrayDark {
	border-color: #999 !important;
}

.bdGrayLight {
	border-color: #ddd !important;
}

.bdGray {
	border-color: #ccc !important;
}

.bdBlack {
	border-color: #000 !important;
}

.bdRed{
	border-color: #e21b1b !important;
}

.bdTransparent {
	border-color: transparent;;
}

.grBlue {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,207cca+0,2989d8+50,1e5799+100 */
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 0%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 0%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 0%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.grRed {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,aa1b1b+0,f43f2e+50,c62727+100 */
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(left,  #7db9e8 0%, #aa1b1b 0%, #f43f2e 50%, #c62727 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #7db9e8 0%,#aa1b1b 0%,#f43f2e 50%,#c62727 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #7db9e8 0%,#aa1b1b 0%,#f43f2e 50%,#c62727 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#c62727',GradientType=1 ); /* IE6-9 */
}

.grGreen {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,47ad1b+0,5bad20+50,39821a+100 */
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #47ad1b 0%, #5bad20 50%, #39821a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#47ad1b 0%,#5bad20 50%,#39821a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #7db9e8 0%,#47ad1b 0%,#5bad20 50%,#39821a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#39821a',GradientType=0 ); /* IE6-9 */
}

.grOrange {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e54d27+0,e85f2e+50,c14526+100 */
	background: #e54d27; /* Old browsers */
	background: -moz-linear-gradient(top,  #e54d27 0%, #e85f2e 50%, #c14526 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e54d27 0%,#e85f2e 50%,#c14526 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e54d27 0%,#e85f2e 50%,#c14526 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54d27', endColorstr='#c14526',GradientType=0 ); /* IE6-9 */
}

.grOrangeLight {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d87b24+0,c19224+50,db9d2b+100 */
	background: #d87b24; /* Old browsers */
	background: -moz-linear-gradient(left,  #d87b24 0%, #c19224 50%, #db9d2b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #d87b24 0%,#c19224 50%,#db9d2b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #d87b24 0%,#c19224 50%,#db9d2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d87b24', endColorstr='#db9d2b',GradientType=1 ); /* IE6-9 */
}

.grPurple {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc29e5+0,b527ce+49,ad2ee8+100 */
	background: #bc29e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #bc29e5 0%, #b527ce 49%, #ad2ee8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #bc29e5 0%,#b527ce 49%,#ad2ee8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #bc29e5 0%,#b527ce 49%,#ad2ee8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc29e5', endColorstr='#ad2ee8',GradientType=0 ); /* IE6-9 */
}
